body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

header img {
  width: 150px;
}

.anniversary {
  text-shadow: 2px 2px 5px gray;
}

.speaker img {
  width: 200px;
  margin: 10px;
}

a:hover {
  font-style: italic;
}